.mycss-display-none {
  display: none;
}

.mycss-display-sticky {
  position: sticky;
  top: 0px;
}

.mycss-display-sticky-1nav {
  position: sticky;
  top: 56px;
}

.mycss-display-z-index-highest {
  z-index: 1100;
}
.mycss-display-z-index-higher {
  z-index: 1000;
}
.mycss-display-z-index-high {
  z-index: 900;
}

@media (min-width: 575px) {
  .mycss-display-sticky-1nav {
    top: 96px;
  }
}
