.mycss-element-checkbox {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.mycss-element-checkbox label {
  padding: 20px;
  color: #b7b195;
}

.mycss-element-checkbox input {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.mycss-style-underline {
  border-bottom: 3px solid white;
}
