/* .sticky-56 {
  position: sticky;
  top: 56px;
}

.sticky-112 {
  position: sticky;
  top: 112px;
} */

/* .min-height-100vh-less-112 {
  height: calc(100vh - 112px);
}

#product-display {
  z-index: 1000;
} */

@media (min-width: 570px) {
  .title-image {
    justify-content: start;
    text-align: left;
  }
  .title-content {
    margin-left: 50px;
  }
}

@media (min-width: 1000px) {
  .title-content {
    margin-left: 100px;
    margin-top: 0;
    max-width: 700px;
  }

  .title-image {
    align-items: center;
  }

  .title-content h1 {
    font-size: 4em;
  }
}
